body{
    padding: 0!important;
}

.container-fluid{
    flex-wrap: wrap;
    padding: 0;
    

}

.row{
    background-color: wheat;
    height: 100px;
    width: 100%;
    
}

.my-col{
    text-align: center;
 
}

.image{
    width: 100px;
    height: 100px;
}

.column{
    text-align: center;

}

.color{
    height: 100px;
}